$grey: #E0E0E0;
$borderGrey: #CACACA;
$blue: #2196F3;
$green: #66BB6A;
$orange: #FF9800;

html, body, #app, .root-div, .HomeTown-Container {
  width: 100%;
  height: 100%;
}

.map-container {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  min-height: 100%;
}

body {
  line-height: 0;
  margin: 0;

  table {
    tbody {
      td {
        border: none;
        padding: 0;
      }
    }
  }

  

  .ReactModalPortal .ReactModal__Content {
      width: 400px;

      form {
        text-align: center;

        .form-group {
          text-align: left;

          label {
            line-height: 14px;
          }
        }
      }
  }

  .icon.marker-circle {
    height: 18px;
      width: 18px;
      border: 1px solid;
      border-radius: 12px;

      &:hover {
        cursor: pointer;
        opacity: .7;
      }

      &.grey {
        background-color: $grey;
        border-color: darken($grey, 15%);
      }

      &.blue {
        background-color: $blue;
        border-color: darken($blue, 15%);
      }

      &.green {
        background-color: $green;
        border-color: darken($green, 15%);
      }

      &.orange {
        background-color: $orange;
        border-color: darken($orange, 15%);
      }
  }

  .control-panel {
    width: 250px;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 3px;
    margin-right: 6px;
    border-radius: 1px;
    z-index: 1000;
    background-color: #fff;

    table {
      margin: 0;

      .parent-cell {
        border: none;
        padding: 10px 0 10px 20px;

        .icon {
          font-size: 20px;

          &:hover {
            cursor: pointer;
            color: lighten(#37474F, 15%);
          }
        }
      }
    }

    .control-details {
      display: none;
      border-top: 1px solid $borderGrey;
      width: 250px;

      &.active {
        display: block;
      }

      tr {
        height: 30px;

        &:hover {
          opacity: .8;
          cursor: pointer;
          background-color: #e4e4e4;
        }

        &.selected {
          background-color: #e4e4e4;
        }

        td.first {
          width: 50px;

          .icon {
            margin: auto;
            display: block;
            width: 20px;
            font-size: 20px;
          }
        }

        td.last {
          padding-left: 10px;
            width: 200px;
        }
      }
    }
  }
}
