<!DOCTYPE html>
<html>
  <head>
    <title>HomeTown</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <% if (isProd) { %>
      <link href="/style.css" rel="stylesheet" type="text/css">
    <% } %>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <script src="https://maps.googleapis.com/maps/api/js?v=3.20&key=AIzaSyCWDwFEdUSpMlIWz9k2WgJDkBWxJw0Oxa0"></script>
  </head>
  <body>
    <div id="app"><%- html %></div>
    <script>
      window.__INITIAL_STATE__ = <%- initialState %>;
    </script>
    <script src="/bundle.js">
    </script>
  </body>
</html>
